<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939537735774-pmcuv15pkv0h3p3n5cdeu36ru89s4cae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939537735774-pmcuv15pkv0h3p3n5cdeu36ru89s4cae</string>
	<key>API_KEY</key>
	<string>AIzaSyAE8JH5n9lUfWINoUdBkoT_PdoKZS4oGZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>939537735774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FoodTracker</string>
	<key>PROJECT_ID</key>
	<string>foodtracker-7bc00</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtracker-7bc00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939537735774:ios:28220674227ffad0</string>
	<key>DATABASE_URL</key>
	<string>https://foodtracker-7bc00.firebaseio.com</string>
</dict>
</plist>